.nav-container{
  background-color: black;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
  padding: 5px;
  .text{
    color: white;
  }
  .custom-button {
    background-color: #FFD700;
    color: black;
    width: 100px;
  }

  .button-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
  }

}
.pd-l-10{
  padding-left: 10px;
}
