@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.container {
  position: absolute;
  width: 100%;
  height: 91.5%;
  overflow: hidden;
  animation: reveal 3s ease-in-out infinite; // Apply animation to container
}

@keyframes revealTopBottom {
  0%, 100% {
    margin-left: 0;
    transform-origin: 0 50%;
  }
  50% {
    margin-left: 200px;
    transform-origin: -200px 50%;
  }
}

@keyframes revealCenter {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.top, .bottom {
  position: absolute;
  width: 100%;
  height: 100%;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    animation: revealTopBottom 3s ease-in-out infinite;
  }
}

.top {
  &:before {
    transform: rotate(45deg);
    background: #e46569;
  }
  &:after {
    transform: rotate(135deg);
    background: #ecaf81;
  }
}

.bottom {
  &:before {
    transform: rotate(-45deg);
    background: #60b8d4;
  }
  &:after {
    transform: rotate(-135deg);
    background: #3745b5;
  }
}

.center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  opacity: 0;
  animation: revealCenter 3s ease-in-out infinite; // Apply animation to the center text
  color: #333;

  h2 {
    font-size: 24px;
    font-weight: 700;
  }
}
